<div class="container">
    <% posts.forEach(post => { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a href="<%= post.link %>"><%= post.title %></a></h5>
          <p class="card-text"><small><%= post.pubDate %> by <%= post.creator %></small></p>
          <p class="card-text"><%= post.contentSnippet %></p>
          <p class="card-text"><small>Category: <%= post.categories.join(', ') %></small></p>
        </div>
      </div>
    <% }) %>
  </div>
  